@layer base {
  .heading a {
    @apply scroll-m-20 no-underline;
  }

  .heading a:hover {
    @apply underline;
  }

  .heading a.fact {
    @apply border-none -ml-8;
  }

  h1.heading {
    @apply text-5xl;
    margin-top: 0;
  }

  h2 {
    @apply font-light;

    &.heading {
      @apply text-4xl;
      margin-top: 0;
    }
  }

  h3.heading {
    @apply text-2xl;
    margin-top: 0;
  }

  h4.heading {
    @apply text-xl;
    margin-top: 0;
  }

  h5.heading {
    @apply text-lg;
    margin-top: 0;
  }

  h6.heading {
    @apply text-xl;
    margin-top: 0;
  }
}
